# Virtual environment
venv/

# Dataset
dataset/

# Python cache
__pycache__/
*.pyc

# Large model checkpoints
checkpoints/
*.pth

# VS Code settings
.vscode/

# Temporary files
.DS_Storedataset/
outputs/
results/
conditional_results/
checkpoints/
conditional_checkpoints/
*.pth
__pycache__/
